@media screen and (min-width: 768px) {

  #narration {
    width: 60vw;
    height: 100vh;
    max-width: 500px;
    top: 0;
  }

  #map {
    width: calc(100vw - 500px);
    left: 500px;
    height: 100vh;
    border: 0;
    z-index: 0;
  }

  #title {
    width: 60vw;
    max-width: 480px;
    top: 0;
  }

  .leaflet-control-attribution {
    visibility: visible;
  }
  
  .info {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 5px 10px;
    bottom: 10px;
    z-index: 1000;
    font-size: 13px;
    border-radius: 5px;
    border: solid rgba(109, 109, 109, 0.5);
  }

}
